# tryalias will alias a single command to the first of a list of commands that exist on the system.
# For example: `tryalias v vim vis nvim` will attempt to alias v to vim if it exists, vis, or nvim in that order.
# tryalias is a custom function implemented separately for the Fish and Bash shells.

tryalias ppass pass
tryalias youtube-dl yt-dl
tryalias o 'ollama.sh run "$DEFAULT_OLLAMA_MODEL"'

tryalias mv 'mv -i'
tryalias cp 'cp -i'
tryalias rm 'rm -i'

tryalias ls exa ls

tryalias v vis 'vim -p' vim vis nvim vi nano ed libreoffice openoffice 'wine MicrosoftOffice2003.exe' vim
tryalias pass $HOME/bin/pass-custom.sh
tryalias trizen 'trizen --flip-results=1'

tryalias gameoflifeff 'ffplay -f lavfi -i life=death_color=red:life_color=black:mold_color=white:r=60:rule=B36/S23:ratio=0.7'

tryalias curl_nc 'curl -H "X-ECM-API-ID: $(pass show powerflex_get_jwt.sh__env_prd/netcloud_token_id)" -H "X-ECM-API-KEY: $(pass show powerflex_get_jwt.sh__env_prd/netcloud_token_secret)" -H "X-CP-API-ID: $(pass show powerflex_get_jwt.sh__env_prd/cp_api_id)" -H "X-CP-API-KEY: $(pass show powerflex_get_jwt.sh__env_prd/cp_api_key)"'

#### Most aliases are now only found as Fish abbreviations

