# https://codegolf.stackexchange.com/a/254589/112181
# http://underpop.online.fr/f/ffmpeg/help/life.htm.gz
# https://sgamal.com/posts/ffmpeg/lavfi/
tryalias gameoflifeff 'ffplay -f lavfi -i life=death_color=red:life_color=black:mold_color=white:r=60:rule=B36/S23:ratio=0.7'
tryalias gol gameoflifeff

tryalias knock 'nc -z'
tryalias ma makeanywhere
tryalias pma 'pipenv run makeanywhere'

# careful with this one
tryalias docker-compose 'docker-compose' 'docker compose'

tryalias pass $HOME/bin/pass-custom.sh

tryalias em 'emacs -nw'
tryalias emc 'emacsclient -nw --alternate-editor=""'
tryalias emacsc 'emacsclient --alternate-editor=""'
tryalias mv 'mv -i'
tryalias cp 'cp -i'
tryalias rm 'rm -i'

tryalias ls exa ls
tryalias l 'ls -F -a'
tryalias ll 'l -l -h'
tryalias gzip pigz gzip

tryalias exa 'exa --git' exa

tryalias trizen 'trizen --flip-results=1'

tryalias py python3 python
tryalias ipy ipython3 ipython
tryalias ipy-mouse 'ipy --TerminalInteractiveShell.mouse_support=True'

tryalias v vis nvim vim vis vi nano ed libreoffice openoffice 'wine MicrosoftOffice2003.exe' vim
tryalias nv neovide nvim
tryalias pnv 'pipenv run nvim'
tryalias vmin 'nvim -u ~/.vimrc.minimal' 'vim -u ~/.vimrc.minmal' vis vi nano 'nvim -u ~/.vimrc.minimal'

tryalias vs "snap run code" "wine code.exe" vis vim

tryalias e evince 'zathura --fork' mupdf mupdf-x11 qpdfview 'wine READER10.exe'

tryalias pmake 'pipenv run make'

tryalias pink 'printf "\x1b[48;5;200m  PINK  "'

tryalias bucle curl

# cp ~/.kube/config ~/.kube/config.bak && KUBECONFIG=~/.kube/config:./ADDITIONAL_KUBECONFIG kubectl config view --flatten > /tmp/config && mv /tmp/config ~/.kube/config

tryalias MONKEY 'echo MONKEY'

# Some aliases are now only found as Fish abbreviations
